p,
h1,
h2,
h3,
div,
span,
a {
  margin: 0;
  padding: 0;
}

.large {
  font-size: 26px;
  font-weight: 700;
  font-style: normal;
  line-height: 36px;
  color: var(--color-light-100, #000);
}

.h1 {
  font-size: 20px;
  font-weight: 700;
  font-style: normal;
  line-height: 36px;
  color: var(--color-light-100, #000);
}

.h2 {
  font-size: 18px;
  font-weight: 700;
  font-style: normal;
  line-height: 24px; /* 133.333% */
  color: var(--color-light-100, #000);
}

.h3 {
  font-size: 16px;
  font-weight: 700;
  font-style: normal;
  line-height: 24px;
  color: var(--color-light-100, #000);
}

.body1 {
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  line-height: 24px;
  color: var(--color-light-100, #000);
}

.body2 {
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  line-height: 24px;
  color: var(--color-light-100, #000);
}

.subtitle1 {
  font-size: 16px;
  font-weight: 700;
  font-style: normal;
  line-height: 24px;
  color: var(--color-light-100, #000);
}

.subtitle2 {
  font-size: 14px;
  font-weight: 700;
  font-style: normal;
  line-height: 24px;
  color: var(--color-light-100, #000);
}

.caption {
  font-size: 12px;
  font-weight: 400;
  font-style: normal;
  line-height: 16px;
  color: var(--color-light-100, #000);
}

.overline {
  font-size: 12px;
  font-weight: 700;
  font-style: normal;
  line-height: 16px;
  color: var(--color-light-100, #000);
}

.link1 {
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  line-height: 24px;
  color: var(--color-primary-500, #397df6);
  text-decoration-line: underline;
}

.link2 {
  font-size: 12px;
  font-weight: 400;
  font-style: normal;
  line-height: 16px;
  color: var(--color-primary-500, #397df6);
  text-decoration-line: underline;
}
