.card {
  display: flex;
  flex-direction: column;
  padding: 2rem 2.25rem;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin-top: 1.69rem;

  &.formInput {
    width: 21.75rem;
  }
}

.forgotPassword {
  align-self: end;
}

.or {
  margin-top: 1.25rem;
  color: var(--color-light-900);
}

.link {
  margin-top: 0.69rem;
  font-weight: var(--font-weight-bold);
  color: var(--color-accent-500);
}
