.table {
  border-collapse: collapse;
  width: 100%;
  color: var(--color-light-100);
  border: 1px solid var(--color-dark-500);
}

.header {
  background-color: var(--color-dark-500);
}

.row {
  border-bottom: 1px solid var(--color-dark-500);
}

.cell {
  padding: 6px 24px;
}

.containerIcons {
  display: flex;
  gap: 4px;
  align-items: center;
}

.styleIcon {
  cursor: pointer;
  fill: var(--color-light-100);
}
